@model IEnumerable<CumulutiveProject1.Models.Teacher>

@{ 
    ViewBag.Title = "List";
}


<nav>
    <a class="navlink" href="/Teacher/New">New Teacher</a>
</nav>

<h2>List of all teachers</h2>


<form method="GET" action="/Teacher/List">
    <input type="text" name="SearchKey"/>
    <input type="submit"  value ="Search" />
</form>

<ol>
    @foreach (CumulutiveProject1.Models.Teacher Teacher in Model)
    {
        <li>
            <h4><a href="/Teacher/Show/@Teacher.TeacherId">@Teacher.TeacherFname @Teacher.TeacherLname</a></h4>
        </li>
    }
</ol>




